<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="PROJECT_LOG_DIR" value="logs" />
    <property name="TEST_DIR" value="test" />
    <timestamp key="timestamp" datePattern="yyyy-MM-dd_HH-mm-ss"/>
    <!-- Each new test write logs into new file packed -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">

     <discriminator>
        <key>className</key>
        <defaultValue>unknown</defaultValue>
     </discriminator>

        <sift>
            <appender name="FILE-${className}"
                      class="ch.qos.logback.core.FileAppender">
                <file>${PROJECT_LOG_DIR}\${TEST_DIR}\${className}\${timestamp}.log</file>
                  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern> %d{HH:mm:ss.SSS} [%thread] %level - %msg%n </pattern>
                </encoder>
            </appender>

        </sift>
    </appender>
<!-- Duplicate logs to console-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} [%thread] %level - %msg%n </pattern>
        </encoder>
    </appender>

<!-- Loggers configurations -->
    <root level="INFO">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- Console + file per test case LOG-->
    <logger name="testLogger" additivity="false">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!-- Console only LOG -->
    <logger name="consoleLogger" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>

